<section class="filters">
  <form (ngSubmit)="userFilters.valid && getShow()" #userFilters="ngForm">
    <div class="filter-list">
      <!-- Type Select -->
      <select class="filter" disabled name="type">
        <option value="Anime">Anime</option>
      </select>
      <select class="filter" [(ngModel)]="userChoices.format" name="format" #userFormat="ngModel" required
        [disabled]="disableSelect">
        <option value="" seleted disabled hidden>Format</option>
        <option value="TV">TV</option>
        <option value="TV_SHORT">TV_Short</option>
        <option value="MOVIE">Movie</option>
        <option value="OVA">OVA</option>
      </select>
      <div class="errors" *ngIf="userFilters.errors && userFormat.errors.required">
        Please select
      </div>
      <!-- Genre Select -->
      <select class="filter" [(ngModel)]="userChoices.genre" #userGenre="ngModel" name="genre" required>
        <option value="" selected disabled hidden>Genre</option>
        <option *ngFor="let genre of genres" value="{{ genre }}" name="{{ genre }}">
          {{ genre }}
        </option>
      </select>

      <!-- Year Select -->
      <select class="filter" [(ngModel)]="userChoices.year" name="year" #userYear="ngModel" required>
        <option value="" selected disabled hidden>Year</option>
        <option *ngFor="let year of years" value="{{ year }}">{{ year }}</option>
      </select>

      <!-- Season Select -->
      <select class="filter" [(ngModel)]="userChoices.season" name="season" #userSeason="ngModel" required>
        <option value="" selected disabled hidden>Season</option>
        <option value="WINTER">Winter</option>
        <option value="SPRING">Spring</option>
        <option value="SUMMER">Summer</option>
        <option value="FALL">Fall</option>
      </select>
      <!-- Status Select -->
      <select class="filter" [(ngModel)]="userChoices.status" name="status" #userStatus="ngModel">
        <option value="" selected disabled hidden>Airing Status</option>
        <option value="RELEASING">Releasing</option>
        <option value="FINISHED">Finished</option>
        <option value="NOT_YET_RELEASED">Not Yet Aired</option>
        <option value="CANCELLED">Cancelled</option>
      </select>
    </div>
    <section class="btn">
      <button type="submit">Get my anime</button>
    </section>
  </form>
</section>

<section class="result">
  <app-result [randomShow]="randomShow" [genresFromShow]="genresFromShow" [charactersList]="charactersList">
  </app-result>
</section>