/* You can add global styles to this file, and also import other style files */
$bg-color: #262626;
$accent: #2a9d8f;

html {
  background-color: $bg-color;
  color: white;
}
body {
  background-color: $bg-color;
  height: 100vh;
  display: flex;
}
app-root {
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
